*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body{
	background-color: #343F4F;
	font-family: Garamond serif;
}
/*id*/
#icon{
	width:150px;
	height:80px;
	background-color: white;
	margin-right: 5rem;
}

#jumboport{
	background-image: url(https://images.unsplash.com/photo-1524666643752-b381eb00effb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y29kZSUyMHF1b3Rlc3xlbnwwfHwwfHw%3D&w=1000&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	

}



#myModal{
	color:black;
}


#footer{
	margin-left: 50rem;
}
.info{
	font-size: 25px;
	font-family: Garamond serif;
}



/*clas s*/
.carousel-control-prev-icon, .carousel-control-next-icon {
   display: inline-block;
   margin-top: 30%;
   top: 50%;
   z-index: 5;
}


.p-name{
	font-size: 45px;
}

.smed i{

	color:#fff;
	font-size: 30px;
	margin: 10px;
	padding-top: 10px;
	text-align: center;
}

.wrapper{
	display: inline-flex;
}





.dynamic-txts li{
	color:#fff;
	list-style: none;
	font-size: 30px;
	font-weight: 500;
}

.dynamic-txts li span{
	position: relative;
}
.dynamic-txts li span::after{
	content: "";
	position: absolute;
	height: 120%;
	width: 120%;
	background: #343F4F;
	border-left: 2px solid #fff;
	animation: typing 1.5s steps(10) infinite;
}

@keyframes typing{
	100%{
		left: -30%;
		margin: 0 -120px 0 120px;
	}
}




.carousel-caption {
	background-color: #544F4F;
	width: 100%;
	left:0;

}

.portfolio img{
	max-width: 100%;
	transition: transform 0.5s ease;
	height: 200px;
	width: 500px;

}
.row.no-padding [class*=col=]{
	padding:0;
}

.portfolio img:hover{
	transform: scale(1.1);
	cursor: zoom-in;
}

.portfolio{
	overflow: hidden;
}



